<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<title>Git Hands-On</title>

<link type="text/css" media="screen" rel="stylesheet" href="/public/stylesheets/reset.css" />
<link type="text/css" media="screen" rel="stylesheet" href="/public/stylesheets/main.css" />

<!--[if IE 6]>
<script type="text/javascript" src="scripts/DD_belatedPNG_0.0.7a.js"></script> 
<script type="text/javascript" src="scripts/png_fix_elements.js"></script> 
<![endif]-->

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://cdn.socket.io/stable/socket.io.js"></script>
  <script type="text/javascript" src="/public/scripts/client.js"></script>
</head>
<body>

<div id="header">
  <h1><a href="/">Git Hands-On</a></h1>
</div>
<!-- //#header -->

<div id="content" class="clearfix">
  <div id="content-inner">
    <div class="column">
      <h3>Member1</h3>
      <!-- このdiv内は自由に編集してOKです。-->
      このあたりを編集してください。
    </div>
    <div class="column">
      <h3>Member2</h3>
      このあたりを編集してください。
    </div>
    <div class="column last">
      <h3>Member3</h3>
      このあたりを編集してください。
    </div>
    <div class="column">
      <h3>Member4</h3>
      <!-- このdiv内は自由に編集してOKです。-->
      このあたりを編集してください。
    </div>
    <div class="column">
      <h3>Member5</h3>
      このあたりを編集してください。
    </div>
    <div class="column last">
      <h3>Member6</h3>
      このあたりを編集してください。
    </div>
    <div class="column">
      <h3>Member7</h3>
      <!-- このdiv内は自由に編集してOKです。-->
      このあたりを編集してください。
    </div>
    <div class="column">
      <h3>Member8</h3>
      このあたりを編集してください。
    </div>
    <div class="column last">
      <h3>Member9</h3>
      このあたりを編集してください。
    </div>
  </div>
</div>
<!-- //#content -->

<div id="footer">
  <p>&copy;Git Hands-On 2011/06/18</p>
</div>
<!-- //#footer -->

</body>
</html>
